* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  background-color: #f0f5ff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

input {
  border: 0;
}

input:focus,
input:active {
  outline: none;
}

button,
a {
  all: unset;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1.25rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 56.25rem;
  min-height: 37.5rem;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 25px 40px -20px #00000018;
  border-radius: 15px;
  padding: 0.9375rem;
  gap: 4.375rem;
}

.side-steps {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-height: 34.375rem;
  background-image: url("../assets/public/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 2.1875rem;
  padding: 1.875rem;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.step-indicator-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.step-indicator {
  border-radius: 100%;
  border: 1px solid hsl(206, 94%, 87%);
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #fff;
}

.step-active {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

.step-texts {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.step {
  font-size: 0.75rem;
  color: hsl(228, 100%, 83%);
}

.step-info {
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
}

.form-wrapper {
  width: 100%;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  padding-top: 3.125rem;
  padding-bottom: 1.25rem;
}

.field-steps {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.field-steps.second-step,
.field-steps.third-step,
.field-steps.fourth-step,
.field-steps.fifth-step {
  display: none;
}

.form-title {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.form-title h1 {
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
}

.form-title p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: hsl(231, 11%, 63%);
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 95%;
}

.form-fields label {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  color: hsl(213, 96%, 18%);
  font-size: 0.875rem;
}

.form-fields input {
  border-radius: 8px;
  color: hsl(213, 96%, 18%);
  height: 3.125rem;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 1px solid hsl(231, 23%, 87%);
  font-weight: 500;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  font-family: "Ubuntu", sans-serif;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.error {
  border: 1px solid hsl(354, 84%, 57%);
}

.error-label {
  display: none;
  color: hsl(354, 84%, 57%);
}

.form-fields input:focus {
  border: 1px solid hsl(243, 100%, 62%);
}

.form-fields input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  color: #9699ab;
}

.fields-wrapper {
  height: 100%;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}

.next-step-btn {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  min-width: 7.5625rem;
  text-align: center;
  border-radius: 8px;
  align-self: end;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.confirm-btn {
  display: none;
  background-color: hsl(243, 100%, 62%);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  min-width: 7.5625rem;
  text-align: center;
  border-radius: 8px;
  align-self: end;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.confirm-btn:hover {
  background-color: #908aff;
}

.next-step-btn:hover {
  background-color: #164988;
}

.back-step {
  display: none;
  cursor: pointer;
  color: hsl(231, 11%, 63%);
  font-size: 1rem;
  font-weight: bold;
}

.back-step.active {
  display: flex;
}

.back-step:hover {
  color: hsl(213, 96%, 18%);
  transition: all 0.2s ease-in-out;
}

.plans-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.plan-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.25rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 8px;
  cursor: pointer;
  min-width: 8.75rem;
  min-height: 11.5625rem;
  transition: all 0.2s;
}

.plan-card:hover {
  border-color: hsl(243, 100%, 62%);
}

.plan-card.active {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(243, 100%, 62%);
}

.plan-info {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.plan-name {
  color: hsl(213, 96%, 18%);
  font-size: 1rem;
  font-weight: 500;
}

.plan-value {
  font-size: 0.875rem;
  color: hsl(231, 11%, 63%);
  line-height: 1.25rem;
}

.plan-switch {
  border-radius: 8px;
  background-color: hsl(231, 100%, 99%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 1.5625rem;
}

.assinature-plan {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 0.875rem;
}

.assinature-plan.active {
  color: hsl(213, 96%, 18%);
}

.plan-switch-btn {
  background-color: hsl(213, 96%, 18%);
  width: 38px;
  height: 20px;
  border-radius: 1.25rem;
  cursor: pointer;
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.switch-indicator {
  display: block;
  background-color: #fff;
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  transition: 0.3s ease-in-out;
}

.switch-indicator.month {
  transform: translateX(0);
}

.switch-indicator.year {
  transform: translateX(15px);
}

.add-ons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.add-on {
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid hsl(229, 24%, 87%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.9375rem 1.5625rem;
  box-sizing: border-box;
  align-items: center;
}

.add-on.checked {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(231, 100%, 99%);
}

.add-on:hover {
  border-color: hsl(243, 100%, 62%);
}

.add-on-selection {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.add-on-selection input {
  accent-color: hsl(243, 100%, 62%);
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 8px;
}

.add-on-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-on-name {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
}

.add-on-benefit {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: hsl(231, 11%, 63%);
}

.add-on-value {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: hsl(243, 100%, 62%);
}

.resume-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.resume-total-wrapper {
  display: flex;
  gap: 1.5625rem;
  box-sizing: border-box;
  padding: 0.8125rem;
  justify-content: space-between;
}

.resume {
  border-radius: 8px;
  background-color: hsl(231, 100%, 99%);
  padding: 0.9375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.selected-plan-resume {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid hsla(231, 11%, 63%, 0.2043);
  padding-bottom: 0.625rem;
}

.selected-plan {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.selected-plan-name {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(213, 96%, 18%);
  text-transform: capitalize;
}

.change-plan-button {
  text-decoration: underline;
  color: hsl(231, 11%, 63%);
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.25rem;
}

.change-plan-button:hover {
  color: hsl(243, 100%, 62%);
}

.selected-plan-value-resume {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.add-ons-selected-resume {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.add-on-name-resume {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(231, 11%, 63%);
  text-transform: capitalize;
}

.add-on-value-resume {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(213, 96%, 18%);
}

.total-per-resume {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(231, 11%, 63%);
}

.total-resume {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25em;
  color: hsl(243, 100%, 62%);
}

.free-months {
  display: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: hsl(213, 96%, 18%);
  margin-top: 5px;
}

.thank-you-icon {
  width: 5rem;
  height: 5rem;
}

.field-steps.fifth-step {
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.field-steps.fifth-step .form-title {
  align-items: center;
  gap: 1.25rem;
}

.form-title .thank-you-msg {
  line-height: 1.5625rem;
  font-size: 1rem;
  color: hsl(231, 11%, 63%);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
    min-height: 100%;
    gap: 0;
    height: 100vh;
    justify-content: initial;
    align-items: center;
    background-color: transparent;
  }

  .field-steps {
    gap: 1.25rem;
  }

  .form-container {
    padding: 0;
    align-items: initial;
  }

  .side-steps {
    width: 100%;
    min-height: auto;
    background-image: url("../assets/public/bg-sidebar-mobile.svg");
    border-radius: 0;
    min-height: 10.75rem;
    flex-direction: row;
    justify-content: center;
    gap: 0.9375rem;
  }

  .form-wrapper {
    box-sizing: border-box;
    background-color: #fff;
    width: 95%;
    margin-top: -80px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 25px 40px -20px #00000018;
  }

  .step-indicator-wrapper {
    height: 2.5rem;
  }

  .step-texts {
    display: none;
  }

  .bottom-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -8px 40px -20px #00000018;
    box-sizing: border-box;
    padding: 1.25rem;
  }

  .form-wrapper {
    padding: 1.5625rem;
  }

  .form-title h1 {
    font-size: 1.5rem;
  }

  .form-label {
    font-size: 0.75rem;
  }

  .form-fields {
    gap: 0.9375rem;
  }

  .form-fields input {
    height: 2.625rem;
    font-size: 0.875rem;
  }

  .next-step-btn {
    height: 2.625rem;
    min-width: 6.5625rem;
  }

  .plans-wrapper {
    overflow-x: auto;
    gap: 0.5rem;
  }

  .plans-wrapper::-webkit-scrollbar {
    display: none;
  }

  .add-on-name {
    font-size: 0.875rem;
  }

  .add-on-benefit,
  .add-on-value {
    font-size: 0.75rem;
  }

  .add-on {
    padding: 0.9375rem 0.9375rem;
  }

  .add-on-description {
    gap: 0;
  }

  .selected-plan-name {
    font-size: 0.875rem;
  }

  .selected-plan-value-resume {
    font-size: 0.875rem;
  }

  .total-resume {
    font-size: 1rem;
  }

  .field-steps.fifth-step .form-title {
    font-size: 1.25rem;
    padding: 3.4375rem 0.9375rem;
  }

  .thank-you-icon {
    width: 3.4375rem;
    height: 3.4375rem;
  }
}
